<h2 class="text-center" style="font-family: 'Playfair Display SC', serif; font-size:50px; color:#BF995A">Thanks!</h2>
<p class="text-center">Thanks for placing your order</p>
<p class="text-center">We'll ship your goods as soon as possible.</p>